<!DOCTYPE html>
<html class="no-js">

    <head>
        <%- include("../../components/_head") %> 
    </head>

    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        

        <header>
            <%- include("../../components/header") %> 
            <%- include("../../components/nav") %> 
        </header>


        <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        <form action="" method="">
                            <div class="profiel-header">
                                <h3>
                                    <b>HOLA</b> <%= user.username.toUpperCase() %>  <br>
                                    <small>Perfil de usuario</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="col-sm-10 col-sm-offset-1 ">
                                <div class="section additional-details">
                                    <h4 class="s-property-title">Información personal</h4>
                                    <ul class="additional-details-list clearfix">
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Nombre usuario</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= user.username %></span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Fecha alta</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= new Date(user.createdAt).toDateString() %></span>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
    

  
    
                            <div class="col-sm-10 col-sm-offset-1 ">
                                <h4 class="s-property-title">Reservas (<%= bookings.length %>) </h4>
                                <ul>
                                    <%_ bookings.forEach( booking => { %>  
                                        <li>
                                            id reserva: <i><%= booking._id %></i> <br>
                                            <%- booking.property ? `propiedad: <i>${booking.property.title}</i>` : "propiedad: <i>No existe</i>"%> | check-in: <i><%= new Date(booking.checkIn).toDateString() %></i> - check-out: <i><%= new Date(booking.checkOut).toDateString()%></i><br>                                  
                                            <a  data-toggle="modal" data-target="#alert">Eliminar</a>
                                        </li>
                                        <!-- Modal -->
                                        <div class="modal" tabindex="-1" role="dialog" id="alert">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Eliminar</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Está seguro que quiere eliminar la reserva </p><%= booking._id %> ?
                                                </div>
                                                <div class="modal-footer">
                                                  <button onclick="window.location.href='/booking/<%= booking._id %>/delete'" type="button" class="btn btn-primary">Eliminar</button>
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <!-- End Modal -->
                                    <%_ })  %> 
                                </ul>
                            </div>
    
                    </form>

                </div>
            </div><!-- end row -->

        </div>
    </div>
       

        <footer>
            <%- include("../../components/footer") %> 
        </footer>
    </body>
</html>