<!DOCTYPE html>
<html class="no-js">

    <head>
        <%- include("../components/_head") %> 
        <script type="text/javascript" src="/assets/js/pselect.js"></script> 
    </head>

    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        

        <header>
            <%- include("../components/header") %> 
            <%- include("../components/nav") %> 
        </header>


        <div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">

                    <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="Mirror Edge"></div> 
                    <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div> 
                    <div class="item"><img src="assets/img/slide1/slider-image-4.jpg" alt="GTA V"></div>   

                </div>
            </div>
            <div class="container slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <h2>Encuentre el lugar perfecto</h2>
                        <p>Book.in te ofrece la mayor oferta de hospedaje con los precios más bajos!</p>
                        <div class="search-form wow pulse" data-wow-delay="0.8s">

                            <form action="/search/" method="GET" class=" form-inline">
                                <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                                <div class="form-group">
                                    <input name="title" type="text" class="form-control" placeholder="Hotel, apartamento,...">
                                </div>
                                <div class="form-group">                                   
                                    <select name="city" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Ciudad">
                                        <option value='alava'>Álava</option>
                                        <option value='albacete'>Albacete</option>
                                        <option value='alicante'>Alicante/Alacant</option>
                                        <option value='almeria'>Almería</option>
                                        <option value='asturias'>Asturias</option>
                                        <option value='avila'>Ávila</option>
                                        <option value='badajoz'>Badajoz</option>
                                        <option value='barcelona'>Barcelona</option>
                                        <option value='burgos'>Burgos</option>
                                        <option value='caceres'>Cáceres</option>
                                        <option value='cadiz'>Cádiz</option>
                                        <option value='cantabria'>Cantabria</option>
                                        <option value='castellon'>Castellón/Castelló</option>
                                        <option value='ceuta'>Ceuta</option>
                                        <option value='ciudadreal'>Ciudad Real</option>
                                        <option value='cordoba'>Córdoba</option>
                                        <option value='cuenca'>Cuenca</option>
                                        <option value='girona'>Girona</option>
                                        <option value='laspalmas'>Las Palmas</option>
                                        <option value='granada'>Granada</option>
                                        <option value='guadalajara'>Guadalajara</option>
                                        <option value='guipuzcoa'>Guipúzcoa</option>
                                        <option value='huelva'>Huelva</option>
                                        <option value='huesca'>Huesca</option>
                                        <option value='illesbalears'>Illes Balears</option>
                                        <option value='jaen'>Jaén</option>
                                        <option value='acoruña'>A Coruña</option>
                                        <option value='larioja'>La Rioja</option>
                                        <option value='leon'>León</option>
                                        <option value='lleida'>Lleida</option>
                                        <option value='lugo'>Lugo</option>
                                        <option value='madrid'>Madrid</option>
                                        <option value='malaga'>Málaga</option>
                                        <option value='melilla'>Melilla</option>
                                        <option value='murcia'>Murcia</option>
                                        <option value='navarra'>Navarra</option>
                                        <option value='ourense'>Ourense</option>
                                        <option value='palencia'>Palencia</option>
                                        <option value='pontevedra'>Pontevedra</option>
                                        <option value='salamanca'>Salamanca</option>
                                        <option value='segovia'>Segovia</option>
                                        <option value='sevilla'>Sevilla</option>
                                        <option value='soria'>Soria</option>
                                        <option value='tarragona'>Tarragona</option>
                                        <option value='santacruztenerife'>Santa Cruz de Tenerife</option>
                                        <option value='teruel'>Teruel</option>
                                        <option value='toledo'>Toledo</option>
                                        <option value='valencia'>Valencia/Valéncia</option>
                                        <option value='valladolid'>Valladolid</option>
                                        <option value='vizcaya'>Vizcaya</option>
                                        <option value='zamora'>Zamora</option>
                                        <option value='zaragoza'>Zaragoza</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" onmouseover="(this.type='date')" onmouseout="(this.type='text')" onfocus="(this.type='date')" placeholder="Fecha entrada" name="date_in" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" onmouseover="(this.type='date')" onmouseout="(this.type='text')" onfocus="(this.type='date')" placeholder="Fecha salida" name="date_out" class="form-control" required>
                                </div>
                                <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                                

                                <!-- menu dropbox hidden -->
                                <div style="display: none;" class="search-toggle">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-lg-offset-2">
 
                                                <label for="capacity">Personas :</label>
                                                <input style="text-align: center; font-size: larger;" min="1"
                                                    id="capacity" type="number" placeholder="1"
                                                    name="capacity" class="form-control">

                                        </div>
                                        <div class="col-sm-2">
                                                <label> Apartamento </label><br>
                                                <input name="apartment" type="checkbox">
                                        </div>
                                        <div class="col-sm-2">
                                            <label> Hotel </label><br>
                                            <input name="hotel" type="checkbox">
                                        </div>
                                    </div>
                                </div>                     
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- property area -->
        <div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
            <div class="container">   
                <div class="row">
                    <div class="col-md-12  padding-top-40 properties-page">
                        <% if (lastAddedApartments.length > 0 ) { %> 
                            <div class="col-md-12 padding-top-20">
                                <h2>Novedades en apartamentos</h2>
                            </div>
                            <div class="col-md-12 padding-top-20"> 
                                <div id="list-type" class="proerty-th">
                                    <% lastAddedApartments.forEach( property => {  %> 
                                        <div class="col-sm-6 col-md-3 p0">
                                            <div class="box-two proerty-item">
                                                <div class="item-thumb">
                                                    <a href="/<%= property.__t.toLowerCase() %>/<%= property._id%>/<%= property.__t.toLowerCase() %>-detail" ><img src="<%= property.main_photo.url%>"></a>
                                                </div>

                                                <div class="item-entry overflow">
                                                    <h5><a href="/<%= property.__t.toLowerCase() %>/<%= property._id%>/<%= property.__t.toLowerCase() %>-detail "><%= property.title  %> </a></h5>
                                                    <div class="dot-hr"></div>
                                                    <span class="pull-left"><b><%= property.__t %> </b></span>
                                                    <span class="proerty-price pull-right"><%= property.price%> €<small>/noche</small></span><br>
                                                    <span class="pull-left"><b><%= property.address.city %> </b></span><br>
                                                    <p>Máx. <%= property.capacity %> personas </p>
                                                    <div class="property-icon">
                                                        <% for(const amenity in property.amenities) {  %>
                                                            <% if(property.amenities[amenity] === true) { %>
                                                                <img src="<%= `/assets/img/icon/${amenity}.png`%>  " width="20" title="<%= amenity %>" alt="<%= amenity %>">
                                                            <% } %>
                                                        <% } %>  
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <% if (user && user.role == "Admin") { %>
                                                                <input type="button" class="btn btn-primary" onclick="window.location.href='/admin/edit/<%= property._id%>'" value="Editar"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    <% }) %> 
                                </div>
                            </div>
                        <% }  %> 
                        <% if (lastAddedHotels.length > 0) { %> 
                            <div class="col-md-12 padding-top-20">
                                <h2>Novedades en hoteles</h2>
                            </div>
                            <div class="col-md-12 padding-top-20"> 
                                <div class="proerty-th">
                                    <% lastAddedHotels.forEach( property => {  %> 
                                        <div class="col-sm-6 col-md-3 p0">
                                            <div class="box-two proerty-item">
                                                <div class="item-thumb">
                                                    <a href="/<%= property.__t.toLowerCase() %>/<%= property._id%>/<%= property.__t.toLowerCase() %>-detail" ><img src="<%= property.main_photo.url%>"></a>
                                                </div>

                                                <div class="item-entry overflow">
                                                    <h5><a href="/<%= property.__t.toLowerCase() %>/<%= property._id%>/<%= property.__t.toLowerCase() %>-detail "><%= property.title  %> </a></h5>
                                                    <div class="dot-hr"></div>
                                                    <span class="pull-left"><b><%= property.__t %> </b></span>
                                                    <span class="proerty-price pull-right"><%= property.price%> €<small>/noche</small></span><br>
                                                    <span class="pull-left"><b><%= property.address.city %> </b></span><br>
                                                    <p>Máx. <%= property.capacity %> personas </p>
                                                    <div class="property-icon">
                                                        <% for(const amenity in property.amenities) {  %>
                                                            <% if(property.amenities[amenity] === true) { %>
                                                                <img src="<%= `/assets/img/icon/${amenity}.png`%>  " width="20" title="<%= amenity %>" alt="<%= amenity %>">
                                                            <% } %>
                                                        <% } %>  
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <% if (user && user.role == "Admin") { %>
                                                                <input type="button" class="btn btn-primary" onclick="window.location.href='/admin/edit/<%= property._id%>'" value="Editar"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    <% }) %> 
                                </div>
                            </div>
                        <% }  %> 
                    </div>  
                </div>
            </div>
        </div>


        <footer>
            <%- include("../components/footer") %> 
        </footer>
    </body>
</html>