<!DOCTYPE html>
<html class="no-js">

    <head>
        <%- include("../components/_head") %> 
        <link rel="stylesheet" href="/assets/css/lightslider.min.css">
    </head>

    <body>


        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        

        <header>
            <%- include("../components/header") %> 
            <%- include("../components/nav") %> 
        </header>



        <!-- property area -->
        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   

                <div class="clearfix padding-top-40" >

                    <div class="col-md-8 single-property-content prp-style-1 ">
                        <div class="row">
                            <div class="light-slide-item">            
                                <div class="clearfix">
                                    <div class="favorite-and-print">
                                        <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                            <i class="fa fa-star-o"></i>
                                        </a>
                                        <a class="printer-icon " href="javascript:window.print()">
                                            <i class="fa fa-print"></i> 
                                        </a>
                                    </div> 

                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                        <li data-thumb="<%= property.photos[0].url %>"> 
                                            <img src="<%= property.photos[0].url %>" title="<%= property.photos[0].description %>"/>
                                        </li>
                                        <li data-thumb="<%= property.photos[1].url %>"> 
                                            <img src="<%= property.photos[1].url %>" title="<%= property.photos[1].description %>"/>
                                        </li>
                                        <li data-thumb="<%= property.photos[2].url %>"> 
                                            <img src="<%= property.photos[2].url %>" title="<%= property.photos[2].description %>"/>
                                        </li>                         
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="single-property-wrapper">
                            <div class="single-property-header">                                          
                                <h1 class="property-title pull-left"><%= property.title %> </h1>
                                <span class="property-price pull-right"><%= property.price %> €/noche</span><br><br>
                                <span><%= property.__t %></span><br>
                            </div>
                            <p>
                                <img src="/assets/img/icon/location.png" width="30" title="location" alt="location">
                                <%= property.address.street %> <br>
                                <span><%= property.address.city %>, <%= property.address.district %></span>
                            </p>

                            <div class="property-meta entry-meta clearfix ">
                            <h4 class="s-property-title">Comodidades</h4>   
                                <% for(const amenity in property.amenities) {  %> 
                                    <% if(property.amenities[amenity] === true) { %> 
                                        <div class="col-xs-6 col-sm-2 col-md-2 p-b-15">
                                            <span class="property-info-icon icon-tag">   
                                                <img src="<%= `/assets/img/icon/${amenity}.png`%>" width="30" title="<%= amenity %>" alt="<%= amenity %>">
                                            </span>
                                            <span class="property-info-entry">
                                                <span class="property-info-label"></span>
                                                <span class="property-info-value"></span>
                                            </span>
                                        </div>
                                    <% } %> 
                                <% } %> 


                            </div>
                            <!-- .property-meta -->

                            <div class="section">
                                <h4 class="s-property-title">Descripción</h4>
                                <div class="s-property-content">
                                    <p><%= property.description %></p>
                                </div>
                            </div>
                            <!-- End description area  -->

                            <div class="section additional-details">
                                <h4 class="s-property-title">Detalles adicionales</h4>
                                <ul class="additional-details-list clearfix">
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Espacio útil</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.area %> m2</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Propietario</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.owner %></span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Capacidad</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.capacity %></span>
                                    </li>
                                    <% if(property.__t === "Apartamento"){ %>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Baños</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.numberBaths %> </span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Habitaciones</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.numberRooms %> </span>
                                        </li>
                                    <% } %> 
                                    <% if(property.__t === "Hotel"){ %>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Camas</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.beds %> </span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Tipo Habitación</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><%= property.type %> </span>
                                        </li>
                                    <% } %> 

                                </ul>
                            </div>  
                            <!-- End additional-details area  -->

                            <div class="section property-features">      
                            <% if(property.__t ==="Hotel") { %>   
                                <h4 class="s-property-title">Servicios</h4>   
                                <% for(const service in property.services) {  %> 
                                    <% if(property.services[service] === true) { %> 
                                        <div class="col-xs-6 col-sm-2 col-md-2 p-b-15">
                                            <span class="property-info-icon icon-tag">   
                                                <img src="<%= `/assets/img/icon/${service}.png`%>  " width="30" title="<%= service %>" alt="<%= service %>">
                                            </span>
                                            <span class="property-info-entry">
                                                <span class="property-info-label"></span>
                                                <span class="property-info-value"></span>
                                            </span>
                                        </div>
                                    <% } %> 
                                <% } %>
                            <% } %>  
                            </div>
                            <div class="section property-features"></div>
                            <h4 class="s-property-title">Reglas</h4>
                            <% for(const rule in property.rules) {  %> 
                                <% if(property.rules[rule] === true) { %> 
                                    <div class="col-xs-6 col-sm-2 col-md-2 p-b-15">
                                        <span class="property-info-icon icon-tag">   
                                            <img src="<%= `/assets/img/icon/${rule}.png`%>" width="30" title="<%= rule %>" alt="<%= rule %>">
                                        </span>
                                    </div>
                                <% } else if (property.rules[rule] === false) { %>
                                    <div class="col-xs-6 col-sm-2 col-md-2 p-b-15">
                                        <span class="property-info-icon icon-tag">   
                                            <img src="<%= `/assets/img/icon/no_${rule}.png`%>" width="30" title="<%= rule %>" alt="<%= rule %>">
                                        </span>
                                    </div>
                                <% } %> 
                            <% } %> 
                            <!-- End features area  -->
                            <br>
                            <div class="section property-video"> 
                                <h4 class="s-property-title">Vídeo alojamiento</h4> 
                                <div class="video-thumb">
                                    <video width="100%" autoplay loop muted> 
                                        <source src="<%= property.video %> " type="video/mp4">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
                            </div>
                            <!-- End video area  -->
                            
                        
                            <div class="section property-share"> 
                                <h4 class="s-property-title">Comparte con tus amig@s </h4> 
                                <div class="roperty-social">
                                    <ul> 
                                        <li><a title="Share this on dribbble " href="#"><img src="/assets/img/social_big/dribbble_grey.png"></a></li>                                         
                                        <li><a title="Share this on facebok " href="#"><img src="/assets/img/social_big/facebook_grey.png"></a></li> 
                                        <li><a title="Share this on delicious " href="#"><img src="/assets/img/social_big/delicious_grey.png"></a></li> 
                                        <li><a title="Share this on tumblr " href="#"><img src="/assets/img/social_big/tumblr_grey.png"></a></li> 
                                        <li><a title="Share this on digg " href="#"><img src="/assets/img/social_big/digg_grey.png"></a></li> 
                                        <li><a title="Share this on twitter " href="#"><img src="/assets/img/social_big/twitter_grey.png"></a></li> 
                                        <li><a title="Share this on linkedin " href="#"><img src="/assets/img/social_big/linkedin_grey.png"></a></li>                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- End video area  -->
                            
                        </div>
                    </div>


                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">

                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="">
                                                    <img src="/assets/img/icon/owner.png" class="img-circle">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 ">
                                                <% if(user && user.role === "Admin"){ %> 
                                                    <input class="btn btn-primary" value="Editar" type="submit"onclick="window.location.href='/admin/edit/<%= property._id %>'">
                                                <% } %> 
                                                <h3 class="dealer-name">
                                                    <a href=""><%= property.owner %> </a><br>
                                                    <span>Propietario</span>        
                                                </h3>
                                                <div class="dealer-social-media">
                                                    <a class="twitter" target="_blank" href="">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a class="facebook" target="_blank" href="">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a class="gplus" target="_blank" href="">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                    <a class="linkedin" target="_blank" href="">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a> 
                                                    <a class="instagram" target="_blank" href="">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>       
                                                </div>

                                            </div>
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">                                       
                                                <li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
                                                <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                                                <li><i class="pe-7s-call strong"> </i><%= property.phone %> </li>
                                            </ul>
                                            <p>Duis mollis  blandit tempus porttitor curabiturDuis mollis  blandit tempus porttitor curabitur , est non…</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                      

                            <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ads her  </h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                    <img src="/assets/img/ads.jpg">
                                </div>
                            </div>


                        </aside>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <%- include("../components/footer") %> 
            <script type="text/javascript" src="/assets/js/lightslider.min.js"></script>
        </footer>
        <script>
            $(document).ready(function () {

                $('#image-gallery').lightSlider({
                    gallery: true,
                    item: 1,
                    thumbItem: 7,
                    slideMargin: 0,
                    speed: 500,
                    auto: true,
                    loop: true,
                    onSliderLoad: function () {
                        $('#image-gallery').removeClass('cS-hidden');
                    }
                });
            });


        </script>
    </body>
</html>