<!DOCTYPE html>

<html class="no-js">
    <head>
        <%- include("../components/_head") %> 
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>


        <header>
            <%- include("../components/header") %> 
            <%- include("../components/nav") %> 
        </header>


        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <% if(!perPage){ %> 
                            <h1 class="page-title">Ha encontrado <%= listProperties.length %> <%= listProperties.length === 1 ? `resultado` : `resultados` %> </h1>
                        <%} else {%> 
                            <h1 class="page-title">Está mostrando  <%= perPage %> resultados</h1>
                        <% } %>                
                    </div>
                </div>
            </div>
        </div>

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">   
                <div class="row">
                    <div class="col-md-9 padding-top-40 properties-page">
                        <div class="section clear"> 
                            <div class="col-xs-10 page-subheader sorting pl0">
                                <ul class="sort-by-list">
                                    <li class="active">
                                        <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                            Fecha <i class="fa fa-sort-amount-asc"></i>					
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                            Precio <i class="fa fa-sort-numeric-desc"></i>						
                                        </a>
                                    </li>
                                </ul><!--/ .sort-by-list-->
                                <div class="items-per-page">
                                    <label for="items_per_page"><b>Resultados por página:</b></label>
                                    <div class="sel">
                                        <select id="items_per_page" name="per_page">
                                            <option selected="selected" value="<%= perPage || "-" %> " disabled><%= perPage || "-" %> </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="15">15</option>
                                        </select>
                                    </div><!--/ .sel-->
                                </div><!--/ .items-per-page-->
                            </div>

                            <div class="col-xs-2 layout-switcher">
                                <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                                <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                            </div><!--/ .layout-switcher-->
                        </div>

                        <div class="section clear"> 
                            <div id="list-type" class="proerty-th">
                                
                                <% if (listProperties.length <= 0) { %>
                                    <div class="col-md-12 p3">
                                        <h2>No hay coincidencias con la búsqueda.</h2>
                                        <h3> Pruebe de nuevo con otros filtros</h3> 
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <br>
                                        <input type="button" class='btn btn-finish btn-primary' onclick="window.history.back()" value="volver" />
                                    </div>
                                <% } %>
                               
                                <% listProperties.forEach( property => { %> 
                                    <div class="col-sm-6 col-md-4 p0">
                                        <div class="box-two proerty-item">
                                            <div class="item-thumb">
                                                <a href="/<%= property.__t %>/<%= property._id%>/<%= property.__t %>-detail"><img src="<%= property.main_photo.url%>"></a>
                                            </div>

                                            <div class="item-entry overflow">
                                                <h5><a href="/<%= property.__t %>/<%= property._id%>/<%= property.__t %>-detail"><%= property.title  %> </a></h5>
                                                <div class="dot-hr"></div>
                                                <span class="pull-left"><b><%= property.__t %> </b></span><br>
                                                <span class="pull-left"><b><%= property.address.city %> </b></span>
                                                <span class="proerty-price pull-right"><%= property.price%> €<small>/noche</small></span><br>
                                                <p>Máx. <%= property.capacity %> personas </p>
                                                <div class="property-icon">
                                                    <% for(const amenity in property.amenities) {  %>
                                                        <% if(property.amenities[amenity] === true) { %>
                                                            <img src="<%= `/assets/img/icon/${amenity}.png`%>  " width="20" title="<%= amenity %>" alt="<%= amenity %>">
                                                        <% } %>
                                                    <% } %>  
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">  
                                                        <input class="button btn-primary" 
                                                            <% if(user && user.role == "User") { %>
                                                                onclick="window.location.href='/booking/?id=<%= property._id%>' + '&date_in=' + date_in + '&date_out=' + date_out"
                                                            <% } else if (user && user.role == "Admin") { %>  
                                                                onclick="window.location.href='/admin/edit/<%= property._id%>'"
                                                                value="Editar"
                                                            <% } else { %> 
                                                                onclick="window.location.href='/user/login'"
                                                            <% }  %> 
                                                            value="Reservar" type="submit">
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                <% }) %> 
                               

                            </div>
                        </div>
                        <div class="section">
                            <div class="pull-right">
                                <div class="pagination">
                                    <% if(pages > 0) { %>
                                        <ul>
                                             <!-- FIRST ITEM -->
                                            <% if(current !== 1) { %>
                                                <li><a href="<%= url %>&page=1 ">Primera</a></li>
                                            <% } %>
                        
                                            <!-- ITEMS -->

                                            <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                            <% if(i !== 1) { %>
                                              <li disabled>
                                                <a href="<%= url %>&page=#">...</a>
                                              </li>
                                            <% } %>
                                            <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                              <% if(i == current) { %>
                                                <li>
                                                  <a href="<%= url %>&page=<%= i %>"><%= i %></a>
                                                </li>
                                              <% } else { %>
                                                <li>
                                                  <a href="<%= url %>&page=<%= i %>"><%= i %></a>
                                                </li>
                                              <% } %>
                                              <% if (i == Number(current) + 4 && i < pages) { %>
                                                 <li disabled>
                                                    <a href="<%= url %>&page=#">...</a>
                                                 </li>
                                              <% } %>
                                            <% } %>

                                            <!-- LAST ITEM -->
                                            <% if(current !== pages) { %>
                                                <li>
                                                  <a href="<%= url %>&page=<%= pages %>">Última</a>
                                                </li>
                                              <% } %>
                                        </ul>
                                    <% }%>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-3 pl0 padding-top-40">
                        <div class="blog-asside-right pl0">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                                <div class="panel-heading">
                                    <h3 class="panel-title">Búsqueda</h3>
                                </div>
                                <div class="panel-body search-widget">
                                    <form action="/search/" class="form-inline"> 
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="title">Nombre alojamiento :</label>
                                                    <input id="title" name="title" type="text" class="form-control" placeholder="Nombre" value="<%= search.title %>"> 
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-12">

                                                        <label for="date_in">Entrada :</label>
                                                        <input id="date_in" type="text" value="<%= search.date_in %>" onmouseover="(this.type='date')" onmouseout="(this.type='text')" onfocus="(this.type='date')" name="date_in" class="form-control" required>
   
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-12">
        
                                                        <label for="date_in">Salida :</label>
                                                        <input id="date_out" type="text" value="<%= search.date_out %>" onmouseover="(this.type='date')" onmouseout="(this.type='text')" onfocus="(this.type='date')" name="date_out" class="form-control" required>
  
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-10 col-md-offset-1">
                                                        <label for="capacity">Personas :</label>
                                                        <input style="text-align: center; font-size: larger;" min="1" id="capacity" type="number" value="<%= search.capacity %>"  placeholder="Fecha salida" name="capacity" class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset class="padding-5">
                                            <label>Tipo :</label>
                                            <div class="row">
                                                <div class="col-xs-6"> 
                                                    <div class="checkbox">
                                                        <label><input name="apartment" type="checkbox" <% if(search.apartment =="on") { %> checked <% } %> > Apartamento </label>
                                                    </div>
                                                </div>  
                                                <div class="col-xs-6"> 
                                                    <div class="checkbox">
                                                        <label><input name="hotel" type="checkbox" <% if(search.hotel =="on") { %> checked <% } %> > Hotel </label>
                                                    </div>
                                                </div>  
                                            </div>
                                        </fieldset>

                                        <fieldset >
                                            <div class="row">
                                                <div class="col-xs-12">  
                                                    <input class="button btn largesearch-btn" value="Buscar" type="submit">
                                                </div>  
                                            </div>
                                        </fieldset>                                     
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>


        <footer>
            <%- include("../components/footer") %> 
        </footer>

        <script>
            document.querySelector("#items_per_page").addEventListener("change", (e) => {
                let url = window.location.href.replace(/&limit=\d/g, "");
                window.location.assign(`${url}&limit=${e.target.value}`)
            })


            // Parseamos la url para obtener las fechas y enviarlas para la reserva
            const url_string = window.location.href
            const url = new URL(url_string);
            const date_in = url.searchParams.get("date_in");
            const date_out = url.searchParams.get("date_out");
            
        </script>
    </body>
</html>